@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authenticationStateProvider

<body>
    <AuthorizeView>
        <NavMenu/>
        
    </AuthorizeView>

    <div class="container">
        @Body
    </div>
</body>
