/* _content/WorkScheduleBlazorApp/Shared/MainLayout.razor.rz.scp.css */
.page[b-0wcem6uxs4] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-0wcem6uxs4] {
    flex: 1;
    background-color: whitesmoke;
}

.sidebar[b-0wcem6uxs4] {
    background-color: steelblue;
}

.top-row[b-0wcem6uxs4] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-0wcem6uxs4]  a, .top-row .btn-link[b-0wcem6uxs4] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-0wcem6uxs4] {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-0wcem6uxs4] {
        display: none;
    }

    .top-row.auth[b-0wcem6uxs4] {
        justify-content: space-between;
    }

    .top-row a[b-0wcem6uxs4], .top-row .btn-link[b-0wcem6uxs4] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-0wcem6uxs4] {
        flex-direction: row;
    }

    .sidebar[b-0wcem6uxs4] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-0wcem6uxs4] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-0wcem6uxs4] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/WorkScheduleBlazorApp/Shared/NavMenu.razor.rz.scp.css */
/*.navbar-toggler {*/
/*    background-color: black;*/
/*}*/

/*.top-row {*/
/*    height: 3.5rem;*/
/*    background-color: rgba(0, 0, 0, 0.4);*/
/*}*/

/*.navbar-brand {*/
/*    font-size: 1.1rem;*/
/*}*/

/*.oi {*/
/*    width: 2rem;*/
/*    font-size: 1.1rem;*/
/*    vertical-align: text-top;*/
/*    top: -2px;*/
/*}*/



/* _content/WorkScheduleBlazorApp/Shared/NotificationComponent.razor.rz.scp.css */
.notification-body[b-rxh081z86k]{
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    z-index: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    padding:20px;
    width: 30vw;
    border-radius: 15px;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    color: white;
}

.notification-visible[b-rxh081z86k]{
    display: flex;
}

.notification-hidden[b-rxh081z86k]{
    display: none;
}

.notification-title[b-rxh081z86k]{
    font-size: 25px;
    font-weight: bolder;
}

.notification-content[b-rxh081z86k]{
    font-size: 16px;
}
