@page "/"
@using WorkScheduleBlazorApp.Data
@using WorkScheduleBlazorApp.Models
@inject IUser _userService;
@inject ICompany _companyService

<PageTitle>Index</PageTitle>

<h1>User</h1>

<EditForm Model="_exampleUserDTO" OnValidSubmit="ValidateUser">
    <ValidationSummary/>
    <DataAnnotationsValidator/>
    
    Username
    <br/>
    <InputText id="username" @bind-Value="_exampleUserDTO.Username"/>
    <br/>
    Password
    <br/>
    <InputText id="password" @bind-Value="_exampleUserDTO.Password">Password</InputText>
    <br/>
    <button type="submit">Submit</button>
    <br/>

</EditForm>


@if (_user.FirstName != null)
{
    <p>@_user.FirstName</p>
}
else
{
    <p>Loading...</p>
}

<h1>Company</h1>

<EditForm Model="_exampleCompanyDTO" OnValidSubmit="CreateCompany">
    <ValidationSummary/>
    <DataAnnotationsValidator/>
    
    Name
    <br/>
    <InputText id="name" @bind-Value="_exampleCompanyDTO.Name"/>
    <br/>
    <button type="submit">Submit</button>
    <br/>
    
</EditForm>

@if (_company.Id != null && _company.Id != 0)
{
    <p>@_company.Id.ToString()</p>
}
else
{
    <p>Loading...</p>
}


@code
{
    CreateUserDTO _exampleUserDTO = new();
    CreateCompanyDTO _exampleCompanyDTO = new();
    
    User _user = new();
    Company _company = new();

    private async void CreateCompany()
    {
        Company _exampleCompany = new()
        {
            Name = _exampleCompanyDTO.Name
        };
        _company = await _companyService.CreateCompany(_exampleCompany);
        Console.WriteLine(_company.Name);
        Console.WriteLine(_company.Id.ToString());
    }

    private async void ValidateUser()
    {

        User _exampleUser = new()
        {
            Id = 0,
            Username = _exampleUserDTO.Username,
            Password = _exampleUserDTO.Password,
            Salary = 0,
            FirstName = "string",
            LastName = "string"
        };

        try
        {
            _user = await _userService.ValidateUser(_exampleUser);
        }
        catch (Exception e)
        {
            _user.FirstName = "ERROR";
            Console.WriteLine(e.Message);
        }

    }
    
}
