@page "/"
@using WorkScheduleBlazorApp.Data
@using WorkScheduleBlazorApp.Models
@using System.Security.Claims
@using WorkScheduleBlazorApp.Components
@inject IUser _userService;
@inject ICompany _companyService
@inject AuthenticationStateProvider AuthenticationStateProvider

<Title Value="Homepage"></Title>

<LoginComponent></LoginComponent>
<AuthorizeView >
    <div class="row d-flex justify-content-between">
        <div class="col-sm-5" style="background-color: white">
            <MyShiftSchedule UserId="@context.User.FindFirst(c => c.Type == ClaimTypes.Sid)?.Value"/>
            <br>
        </div>
        <div class="col-sm-5" style="background-color: white">
            <AvailableShifts/>
            <br>
        </div>
    </div>
    <br/>
</AuthorizeView>


@code
{
    [CascadingParameter]
    protected Task<AuthenticationState> AuthStat { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

}
